@media (max-width: 1200px) {
  .about__content-left {
    font-size: 2.2rem;
  }

  #about {
    grid-template-areas: '. title title .'
    'content-left content-left content-right content-right'
    'figures figures figures figures';
    padding: 0 2rem;
  }

  #menu {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0 2rem;
  }

  .blog {
    grid-template-columns: 1fr;

    &__second {
      .blog__img {
        grid-row: unset;
      }

      .blog__share-btn {
        bottom: -20px;
        top: unset;
      }
    }
  }

  #contact {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }
}

@media (max-width: 900px) {
  .section-heading {
    font-size: 4rem;
    grid-area: title;
    line-height: 0;
  }

  .about__figure-number {
    font-size: 4rem;
    line-height: 4rem;
  }

  #menu {
    grid-template-areas: 'title'
    '.'
    '.'
    '.';
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr 1fr 10rem;

    .section-heading {
      grid-column: unset;
    }
  }

  .menu__item {
    grid-template-columns: 5rem 1fr 5rem;
  }

  .menu__item-title,
  .menu__item-price {
    font-size: 1.6rem;
  }

  #contact {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 5rem;
  }
}

@media (max-width: 600px) {
  #about {
    grid-template-areas: 'title'
    'content-left'
    'content-right'
    'figures';
    grid-template-columns: 1fr;
    grid-template-rows: 10rem min-content min-content min-content 10rem;
  }

  .about__figures {
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr;
  }

  .about__figure-text {
    font-size: 1.6rem;
    margin-top: 1.6rem;
  }

  .delivery-partners {
    grid-template-columns: repeat(2, 3rem) 5rem 7rem;
  }
}

@media (max-width: 380px) {
  .banner__content {
    &--h1 {
      font-size: 3rem;
    }

    &--h2 {
      font-size: 6rem;
    }
  }

  .btn-lg {
    font-size: 1.6rem;
  }

  #menu {
    .menu__item {
      grid-column-gap: 2rem;
      grid-template-columns: 14rem 4rem;

      &-content--container {
        display: none;
      }
    }
  }

  .subsection {
    h2 {
      font-size: 2.6rem;
    }
  }

  .delivery-partners {
    grid-gap: 1rem;
  }
}
