$p-color: #232323;
$par-color: #8a8a8a;
$header-bg-color: rgba(0, 0, 0, .5);
$heading-color: #fff;
$nav-bg-color: #d94545;
$btn-bg-color: #d96f45;
$btn-hover1: #f86d6d;
$btn-hover2: #f88e6d;
$btn-box-shadow: rgba(0, 0, 0, .5);
$btn-focus: #ad3636;
$about-bgc: #ddd;
$menu-bottom-border-color: #cfcece;
$form-border-color: #dedede;
